:root {
    /* text primary colors */

    --veryDarkDesaturedBlue: hsl(238, 29%, 16%);
    --solfRed: hsl(14, 99%, 65%);
    
    /* gradient primary colors 
    background-gradient*/

    --softViolet: hsl(273, 75%, 66%);
    --softBlue: hsl(240, 73%, 65%);

    /* neutral text */

    --veryDarkGrayishBlue: hsl(237, 12%, 33%);
    --darkGrayishBlue: hsl(240, 6%, 50%);

    /* dividers */

    --lightGrayishBlue: hsl(240, 5%, 91%);
}

body {
    font-size: 0.75rem;
    font-family: 'Kumbh Sans', sans-serif;
    background: linear-gradient(var(--softViolet), var(--softBlue));
    min-height: 100vh;
    color: var(--veryDarkDesaturedBlue);
    padding: 0 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1,
p {
    margin-top: 0;
}

.main {
    background-color: #fff;
    border-radius: 20px;
    width: 375px;
    padding-bottom: 1em;
}

.main-hero {
    position: relative;
    height: 130px;
}

.main-hero::before {
    content: url('../images/bg-pattern-mobile.svg');
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.main-hero img {
    position: absolute;
    top: -108px;
    left: 47%;
    transform: translateX(-50%);
}

.main-faq {
    padding: 0 2em;
}

.main-faq h1 {
    text-align: center;
    font-weight: 700;
    font-size: 2.3rem;
}

.faq-container {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--lightGrayishBlue);
    margin-bottom: 1.5em;
    padding-bottom: .5em;
}

.faq-container img {
    height: 10px;
    padding: .5em;
}

.bolder-color {
    font-weight: 700;
}

.question:hover,
img {
    color: var(--solfRed);
    cursor: pointer;
}

.hidden-answer {
    display: none;
}

.show-answer {
    display: block;
}

/* .faq-container img {
    /* transform: rotate(180deg); */
} */